* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  color: white;
  background-color: #00274d;
}

header {
  background-color: darkgoldenrod;
  padding: 0px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo img {
  height: 100px;
  margin-right: 1000px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a {
  color: white;
  transition: color 0.5s ease-in-out;
}

.nav-links a:hover {
  color: #00274d;
  transition: color 0.5s ease-in-out;
}

main {
  padding: 50px;
  text-align: center;
}

.requesttext {
  padding-top: 50px;
  font-size: xx-large;
  font-family: Lexend;
  font-weight: bold;
}

.audio-player-container {
  margin-top: 140px;
}

footer {
  background-color: darkgoldenrod;
  padding: 17px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.jotform1 {
  margin-top: -230px;
}

audio {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

audio::-webkit-media-controls-panel {
  background-color: transparent !important;
}

audio::-webkit-media-controls-play-button {
  filter: invert(32%) sepia(91%) saturate(5348%) hue-rotate(353deg)
    brightness(103%) contrast(108%);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: red !important;
}

audio::-webkit-media-controls-timeline {
  background-color: transparent !important;
}

audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-mute-button {
  background-color: transparent !important;
}

audio::-moz-range-track {
  background-color: red;
}

audio::-ms-fill-lower,
audio::-ms-fill-upper {
  background-color: red;
}

audio::-webkit-media-controls-volume-slider {
  filter: invert(32%) sepia(91%) saturate(5348%) hue-rotate(353deg)
    brightness(103%) contrast(108%);
}
