* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lexend;
  color: white;
  background-color: darkgoldenrod;
}

.logo img {
  height: 450px;
}

main {
  padding: 50px;
  text-align: center;
}
